@{
    ViewData["Title"] = "How To Use";
}
<h2>@ViewData["Title"]</h2>

<p style="text-align:center"><h4>This page will provide a guide on how to use this site.</h4></p>

<p style="text-align:center">
    First play your game until the end. You should see a screen similar to below
</p>
<p style="text-align:center">
    <img src="~/images/image1.png" height="20%" width="70%" />
</p>
<p style="text-align:center">
    Once at this stage next click performance. This will then display all stats for a player during the match. You can cycle through the players by using the LT/RT on Xbox or L2/R2 on Playstation.
    After you have picked your player log in or register to the site. Select Team from the top navigation bar. You should then see similar to what is shown below.
</p>
<p style="text-align:center">
    <img src="~/images/Capture.PNG" height="20%" width="70%" />
</p>
<p style="text-align:center">
    Now you should lick create new. This will take you to a page to add your selected player. Below is an example of what it should look like.
</p>
<p style="text-align:center">
    <img src="~/images/Capture1.PNG" height="20%" width="70%" />
</p>
<p style="text-align:center">
    Now at this stage add the player. This will take you back to your team and display your new player as shown.
</p>
<p style="text-align:center">
    <img src="~/images/Capture2.PNG" height="20%" width="70%" />
</p>
<p style="text-align:center">
    Now you should click update. This is the stat page that you will be changing after every game to track your player's stats. Simply copy the stats from the screenshot into each box as shown.
</p>
<p style="text-align:center">
    <h4><b>PLEASE NOTE: The stats "Dribbles completed" and "Dribbled attempted" are located in another section in Fifa. To access these go to Match Ratings and down to Dribbling. This will display every players dribbling for that game. The posession stat is similar. To make the process faster simply miss both the dribbling stats.</b></h4>
</p>
<p style="text-align:center">
    <img src="~/images/image.png" height="20%" width="70%" />
</p>
<p style="text-align:center">
    <img src="~/images/Capture3.PNG" height="20%" width="70%" />
</p>
<p style="text-align:center">
    Now save and you shall be took back to the team page. If you want to view your players stats simply click the details tab on the selected player and you shall be redirected to a page displaying all the stats for the player.
</p>
<p style="text-align:center">
    <img src="~/images/Capture4.PNG" height="20%" width="70%" />
</p>

<p></p>

